adlfs==2024.4.1
aiohttp==3.9.5
aiosignal==1.3.1
alabaster==0.7.16
amqp==5.2.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.1.0
azure-core==1.32.0
azure-cosmos==4.9.0
azure-datalake-store==0.0.53
azure-identity==1.16.0
azure-storage-blob==12.24.1
azure-storage-file-datalake==12.18.1
Babel==2.15.0
billiard==4.2.0
boltons @ file:///C:/ci_311/boltons_1677729932371/work
brotlipy==0.7.0
celery==5.3.6
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama @ file:///C:/ci_311/colorama_1676422310965/work
conda @ file:///C:/b/abs_b5q92oum8h/croot/conda_1689272261421/work
conda-content-trust @ file:///C:/ci_311/conda-content-trust_1676467587370/work
conda-libmamba-solver @ file:///C:/b/abs_5a9xvt2a3k/croot/conda-libmamba-solver_1685032355900/work/src
conda-package-handling @ file:///C:/b/abs_ce4_vcfd0y/croot/conda-package-handling_1685024800103/work
conda_package_streaming @ file:///C:/b/abs_88a7k_wmm1/croot/conda-package-streaming_1685019697115/work
coverage==7.4.1
cryptography==42.0.8
Deprecated==1.2.14
Django==4.2.15
django-celery-results==2.5.1
django-cors-headers==3.14.0
django-debug-toolbar==4.2.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.2.0
dnspython==2.7.0
docutils==0.20.1
drf-spectacular==0.26.5
et_xmlfile==2.0.0
exceptiongroup==1.2.0
frozenlist==1.4.1
fsspec==2024.3.1
greenlet==3.1.1
idna==3.10
imagesize==1.4.1
inflection==0.5.1
iniconfig==2.0.0
isodate==0.7.2
Jinja2==3.1.5
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jwcrypto==1.5.1
kombu==5.3.4
libmambapy @ file:///C:/b/abs_f0tnqlkcbn/croot/mamba-split_1685993165748/work/libmambapy
MarkupSafe==3.0.2
menuinst @ file:///C:/ci_311/menuinst_1678730372782/work
msal==1.26.0
msal-extensions==1.1.0
mssql-django==1.3
multidict==6.0.5
numpy==1.26.4
Office365-REST-Python-Client==2.6.1
openpyxl==3.1.5
packaging==23.2
pandas==2.1.3
pluggy==1.4.0
portalocker==2.8.2
prompt-toolkit==3.0.41
psycopg2-binary==2.9.10
pyarrow==15.0.2
pycosat @ file:///C:/ci_311/pycosat_1676438455539/work
pycparser==2.22
pycryptodome==3.20.0
Pygments==2.17.2
PyJWT==2.8.0
pymongo==4.10.1
PyMySQL==1.1.0
pyodbc==5.0.1
pyOpenSSL @ file:///C:/b/abs_de215ipd18/croot/pyopenssl_1678965319166/work
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
pytest==8.0.0
pytest-cov==4.1.0
pytest-django==4.7.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.0
pytz==2024.2
pywin32==306
PyYAML==6.0.1
redis==5.0.1
referencing==0.31.1
requests==2.32.2
rpds-py==0.13.2
ruamel.yaml @ file:///C:/ci_311/ruamel.yaml_1676439214109/work
six==1.17.0
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.36
sqlparse==0.5.3
tomli==2.0.1
toolz @ file:///C:/ci_311/toolz_1676431406517/work
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.12
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
wrapt==1.16.0
yarl==1.9.4
zstandard==0.19.0
